i {
    color: white;

}

#buttonStart{
    background-color: rgb(173, 10, 10);
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-color: white;
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

#buttonStart:hover,
#resetButton {
    cursor: pointer;
}

body {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(173, 10, 10);
    color: white;
}

hr {
    margin: 0 250px;
}

.box {
    font-size: 25px;
}

.line {
    background-color: #3498db;
    width: 0;
    height: 5px;
    transition: width 1s linear;
}

#workMinutes, #breakMinutes{
    margin-left: 10%;
}

#workSeconds, #breakSeconds{
    margin-left: 9%;
}